/* Layout */

.layout .content {
  padding: 0 50px;
  margin: 32px 0 0 0;
}

.layout .innercontent {
  background: #fff;
  padding: 24px;
  min-height: 600px;
}

/* Menu */

.menu .username {
  padding-right: 24px;
  text-transform: uppercase;
}

/* BeerCard */

.beercard {
  text-align: center;
}

.beercard img {
  max-height: 200px;
  width: auto;
  margin: 0 auto;
}

.beercard input {
  text-align: center;
  border: 0;
  width: 100%;
}
